
<div class="container" 
     style="background-color: #2399e5;color:white;text-align:center;">
    <p style="padding-top:15px">Your data is saved. Go to listing page to see.</p>
</div>
<div class="container" style="margin-top:30px;">
    <ul style="list-style: none;padding-top:40px ;">
        <li style="margin-bottom:40px" > 
            <div class="row">
                <div class="col-md-2"><b>Name</b></div>
                <div class="col-md-2"><b>:</b></div>
                <div class="col-md-8">{{userInfo.name}}</div>
            </div>            
        </li>
        <li style="margin-bottom:40px">
            <div class="row">
                <div class="col-md-2"><b>Province</b></div>
                <div class="col-md-2"><b>:</b></div>
                <div class="col-md-8">{{userInfo.province}}</div>
            </div>
        </li>
        <li style="margin-bottom:40px">
            <div class="row">
                <div class="col-md-2"><b>Telephone</b></div>
                <div class="col-md-2"><b>:</b></div>
                <div class="col-md-8">{{userInfo.telephone}}</div>
            </div>
        </li>
        <li style="margin-bottom:40px">
            <div class="row">
                <div class="col-md-2"><b>Postal code</b></div>
                <div class="col-md-2"><b>:</b></div>
                <div class="col-md-8">{{userInfo.postal_code}}</div>
            </div>
        </li>
        <li style="margin-bottom:40px">
            <div class="row">
                <div class="col-md-2"><b>Salary</b></div>
                <div class="col-md-2"><b>:</b></div>
                <div class="col-md-8">{{userInfo.salary}}</div>
            </div>
        </li>
    </ul>
</div>