
<div class="container"
     style="padding:0px;">
    <table class="table table-hover" id="">
        <thead>
            <tr style="background-color: #666262;color: white;">
                <th>Name</th>
                <th>Province</th>
                <th>Telephone</th>
                <th>Postal code</th>
                <th>Salary</th>

            </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let u of pagedItems">
                <td>{{u.name}}</td>
                <td>{{u.province}}</td>
                <td>{{u.telephone}}</td>
                <td>{{u.postal_code}}</td>
                <td>{{u.salary}}</td>
            </tr>
        </tbody>
    </table>


</div>

<div style="margin-top:30px; text-align:center">
    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
    </ul>
</div>
