<div class="container">

  <div class="form-group" style="margin-top: 10px;">
    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" 
           #search [formControl]="searchControl">
  </div>
  <div class="row">
    <div class="col-md-6">
        <!--UTC {{date|date:'dd-M-yyyy H:mm:ss'}}-->  UTC timestamp {{timestamp}}
    </div>
    <div class="col-md-2">LOCAL TIME</div>
    <div class="col-md-4" id="localtime"></div>
    {{errormsg}}
  </div>
  
  
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>
</div>